.topBar{
	background: #0d76a1;
	width: 100%;
	height: 50px;
	position: relative;
}

.button{
	height: 80%;
	width:100px;
	float: right;
	margin-top:10%;
	margin-bottom : 10%;
}

.button:hover {
	background: #919a9e;
};